    button {
        font-size: 20px;
        width: 120px;
        height: 55px;
        border-radius:  15px; /* IE 9, Safari 5, Chrome */
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
        box-shadow: 20px 20px 20px #888888;
    }

    button:active {
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#800080), to(#ffff00));
      }
